@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>

    <h4>Aplicação desenvolvida por Henrique Paredes na formação do curso da Udemy  de C# do professor Nelio</h4>
    <a class="mt-5 mb-5" href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">Para mais informações sobre o curso clique aqui</a>

    <h4 class="mt-5">Application developed by Henrique Paredes in the training of Professor Nelio's C# Udemy course</h4>
    <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">For more information about the course click here</a>

    <p class="mt-lg-5">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
